# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Bahubali Jain (bpjain2004)
# Chiman Jain (chimanjain)
# Christian Coffield (ChristianAtDell)
# Don Khan (donatwork)
# Harish H  (HarishH-DELL)
# Nitesh Rewatkar (nitesh3108)
# Rajkumar Palani (rajkumar-palani)
# Santhosh Lakshmanan (santhoshatdell)
# Shayna Finocchiaro (shaynafinocchiaro)

# for all files:
* @atye @bpjain2004 @chimanjain @ChristianAtDell @donatwork @HarishH-DELL @nitesh3108 @rajkumar-palani @santhoshatdell @shaynafinocchiaro
