# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Adam Ginna (adamginna-dell)
# Aaron Tye (atye)
# Bogdan Novikov (bogdanNovikovDell)
# Bahubali Jain (bpjain2004)
# Bartosz Ciesielczyk (cbartoszDell)
# Chiman Jain (chimanjain)
# Christian Coffield (ChristianAtDell)
# Don Khan (donatwork)
# Harish H  (HarishH-DELL)
# Harsha Yalamanchili (harshaatdell)
# Leonard Ulman (Leonard-Dell)
# Małgorzata Dutka (mdutka-dell)
# Meghana GM (meggm)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Rajkumar Palani (rajkumar-palani)
# Sakshi Makkar (Sakshi-dell)
# Santhosh Lakshmanan (santhoshatdell)
# Shayna Finocchiaro (shaynafinocchiaro)
# Shefali Malhotra (shefali-malhotra)

# for all files:
* @adamginna-dell @atye @bogdanNovikovDell @bpjain2004 @cbartoszDell @chimanjain @ChristianAtDell @donatwork @HarishH-DELL @harshaatdell @Leonard-Dell @mdutka-dell @meggm @nitesh3108 @prablr79 @rajkumar-palani @Sakshi-dell @santhoshatdell @shaynafinocchiaro @shefali-malhotra
