# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alik Saring (alikdell)
# Bahubali Jain (bpjain2004)
# Chiman Jain (chimanjain)
# Christian Coffield (ChristianAtDell)
# Don Khan (donatwork)
# Harish H  (HarishH-DELL)
# Meghana GM (meggm)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Rajkumar Palani (rajkumar-palani)
# Sakshi Makkar (Sakshi-dell)
# Santhosh Lakshmanan (santhoshatdell)
# Shayna Finocchiaro (shaynafinocchiaro)
# Sharmila Ramamoorthy (sharmilarama)
# Shefali Malhotra (shefali-malhotra)

# for all files:
* @atye @alikdell @bpjain2004 @chimanjain @ChristianAtDell @donatwork @HarishH-DELL @meggm @nitesh3108 @prablr79 @rajkumar-palani @Sakshi-dell @santhoshatdell @shaynafinocchiaro @sharmilarama @shefali-malhotra
