name: Workflow
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  code-check:
    name: Check Go formatting, linting, vetting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run the formatter, linter, and vetter
        uses: dell/common-github-actions/go-code-formatter-linter-vetter@main
        with:
          directories: ./...
  go_security_scan:
    name: Run gosec
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run gosec to check for security vulnerabilities
        uses: dell/common-github-actions/gosec-runner@main
        with:
          directories: "./..."
  malware_security_scan:
    name: Malware Scanner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run malware scan
        uses: dell/common-github-actions/malware-scanner@main
        with:
          directories: .
          options: -ri
  unit_test:
    name: Run Go unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Vendor packages
        run: |
          go mod vendor
      - name: Test
        env:
          GOPROXY: "https://proxy.golang.org"
        run: cd service; go clean -cache; go test -v ./...
