name: Create Tag and Release
# Invocable as a reusable workflow
# Can be manually triggered
on:  # yamllint disable-line rule:truthy
  workflow_call:
  workflow_dispatch:
    inputs:
      option:
        description: "Select type of release. If first release, use major and it will release v1.0.0."
        required: true
        type: choice
        default: "minor"
        options:
          - major
          - minor
          - patch
          - version
      version:
        description: "Specific semver version to release. Only used when 'version' is the selected option. Example: v2.1.x."
        required: false
        type: string
  repository_dispatch:
    types: [auto-release-workflow]

jobs:
  csm-release:
    name: Create Tag and Release
    uses: dell/common-github-actions/.github/workflows/create-tag-release.yaml@main
    with:
      option: ${{ inputs.option || 'minor' }}
      version: ${{ inputs.version || '' }}
    secrets: inherit
